@media (max-width:1150px) {
    .cabecalho .logo {
        max-width: 190px;
    }

    .selecao-de-personagens {
        flex-direction: column-reverse;
        max-width: 430px;

    }


}